# ==========================
# Virtual Environment
# ==========================
.venv/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Compiled Extensions
*.so

# ==========================
# Distribution / Packaging
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Streamlit
# ==========================
.streamlit/secrets.toml

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/
.pytest_cache/

datasets/zomato_data_raw.csv